//////// VARIABLES
$web-width: 1200px;
$main-color: #2F445F;
$light-color: rgb(239, 244, 251);
$dark-color: rgb(22, 34, 51);
$medium-color: rgb(211, 219, 229);
$bg-img: #2F445F;

//////// TEXT COLOR FUNCTION
@function text-color-set ($color) {
  @if (lightness($color) > 50) {
    @return #111;
  }

  @else {
    @return #fff;
  }
}