//////// UTILITY CLASSES
.container {
  max-width: $web-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

/////// BUTTON STYLE
%btn-shared {
  display: inline-block;
  padding: .9rem 1.8rem;
  cursor: pointer;
  border: none;
  margin: .5rem 0;
  transition: all .5s;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: $dark-color;
    background-color: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: $dark-color;
    background-color: $light-color;
  }

  &-dark {
    @extend %btn-shared;
    color: $light-color;
    background-color: $dark-color;
  }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: $main-color;
}

/////// BACKGROUNDS
.bg {
  &-main {
    background: $main-color;
    color: text-color-set($main-color)
  }

  &-medium {
    background: $medium-color;
    color: text-color-set($medium-color)
  }

  &-dark {
    background: $dark-color;
    color: text-color-set($dark-color)
  }

  &-light {
    background: $light-color;
    color: text-color-set($light-color)
  }
}



.lead {
  font-size: 1.3rem;
  margin-bottom: 1.6rem;
}

.text-center {
  text-align: center;
}

/////// PADDING 
.py {
  &-1 {
    padding: 1rem 0;
  }

  &-2 {
    padding: 2rem 0;
  }

  &-3 {
    padding: 3rem 0;
  }

  &-4 {
    padding: 4rem 0;
  }
}

///////  MARGIN 
.my {
  &-1 {
    margin: 1rem 0;
  }

  &-2 {
    margin: 2rem 0;
  }

  &-3 {
    margin: 3rem 0;
  }

  &-4 {
    margin: 4rem 0;
  }
}

// SECTION TITLE
.section-title {
  font-size: 2rem;
  margin-bottom: .5rem;
  color: #2E435E;
  text-align: center;
}

// BOTTOM LINE
.bottom-line {
  height: 3.5px;
  width: 8rem;
  margin: .4rem auto 1.5rem;
  background: $main-color;
}